<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TESTE POUCHDB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
<nav class="navbar is-primary ">
    <div class="navbar-brand ">
        <h1 class="navbar-item" >Teste PouchDB</h1>
    </div>
</nav>

<div class="container is-fluid">
    <div class="notification">
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <input class="input" id="id" type="hidden">
            <input class="input" id="nome" type="text" placeholder="John doe">
        </div>
    </div>
    <div class="field">
        <label class="label">E-mail</label>
        <div class="control">
            <input class="input" id="email" type="email" placeholder="john@exemplo.com">
        </div>
    </div>
    <div class="field">
        <label class="label">Idade</label>
        <div class="control">
            <input class="input" id="idade" type="number" placeholder="25">
        </div>
    </div>


    <div id="msg" class="notification is-invisible">
        
    </div>
    <p class="field">

        <a class="button is-medium is-primary is-right" onclick="sendform()">
            <span class="icon">
                <i class="fa fa-send"></i>
            </span>
            
            <span>Enviar</span>
        </a>
    </p>
    </div>
    <div class="notification" id="tabela-pessoa">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="buttons has-addons is-centered">
                        <a class="button is-info"><i class="fa fa-edit"></i></a>
                        <a class="button is-danger"><i class="fa fa-trash"></i></span>
                    </div></td>
                    <td>Allan da Silva</td>
                    <td>allanweb019@gmail.com</td>
                    <td>24</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<script src="//cdn.jsdelivr.net/npm/pouchdb@6.3.4/dist/pouchdb.min.js"></script>
<script>
    
    const db = new PouchDB('testeDB');
    const cloudant = new PouchDB('https://allanweb.cloudant.com/testepouch', { adapter: 'https' }); 
     window.PouchDB = db 

   

    const sendform = () => {
       
        
        salvaPessoa().then(function (result) {
            console.log(result)
        })
        
    }

    const salvaPessoa = () =>{
        debugger
        let id = document.getElementById('id').value
        let nome = document.getElementById('nome').value
        let email = document.getElementById('email').value
        let idade = document.getElementById('idade').value
        let msg = document.getElementById('msg').value

        if (id != "") {
            return db.put({
                id: id,
                nome: nome,
                email: email,
                idade: idade
            }).then(function (response) {
                return lista()
            }).catch(function (err) {
                return err
            });
        }
        return db.post({
            nome: nome,
            email: email,
            idade: idade
        }).then(function (response) {
            
            return lista()
        }).catch(function (err) {
            return err
        });
    } 


    const lista = () => {
        db.sync(cloudant, {
            live: true,
            retry: true
        });

        return db.allDocs({
            include_docs: true,
            attachments: true
        }).then(function (result) {
            
            return result
        }).catch(function (err) {
            return err
        });
    }



</script>
</html>